@model Exo_MVC1.Models.Categorie

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <input asp-for="Categories" class="form-control bg-white" required />
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horaire" class="control-label"></label>
                <input asp-for="Horaire" class="form-control bg-white" required />
                <span asp-validation-for="Horaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control bg-white" required />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jour" class="control-label"></label>
                <input asp-for="Jour" class="form-control bg-white" required />
                <span asp-validation-for="Jour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datedebut" class="control-label"></label>
                <input asp-for="Datedebut" class="form-control bg-white" required />
                <span asp-validation-for="Datedebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datefin" class="control-label"></label>
                <input asp-for="Datefin" class="form-control bg-white" required />
                <span asp-validation-for="Datefin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_activite" class="control-label"></label>
                <select asp-for="Id_activite" class ="form-control bg-white mb-3" required asp-items="ViewBag.Id_activite"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>

@* <div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
