@model Exo_MVC1.Models.Utilisateur

@{
    ViewData["Title"] = "Delete";
    Layout = null;

}


<h4 class="text-black">Vous etes sure de supprimer @Html.DisplayFor(model => model.Nom) ?</h4>

<div>

  
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
  @*       <a asp-action="Index" class="text-black">Back to List</a> *@
    </form>
</div>
