@model Exo_MVC1.Models.Compagny

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Compagnie" class="control-label text-black"></label>
                <input asp-for="Compagnie" class="form-control rounded-left bg-white mb-3" required/>
                <span asp-validation-for="Compagnie" class="text-danger"></span>
            </div>
            <div class="form-group">
        <input type="submit" value="Create" class=" btn btn-success rounded submit px-3" />
            </div>
        </form>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
