@model Exo_MVC1.Models.Compagny

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h3 class="text-black">Vous etes sur de supprimer  @Html.DisplayFor(model => model.Compagnie)?</h3>
<div>

   
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        @* <a asp-action="Index">Back to List</a> *@
    </form>
</div>
