@model Exo_MVC1.Models.Session

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}


<h4>Vous etes sure de supprimer @Html.DisplayFor(model => model.Nom) ?</h4>
<div>
 
   @*  <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl> *@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
