@model Exo_MVC1.Models.Presence

@{
    ViewData["Title"] = "Delete";
    Layout = null;

}


<h3 class="text-black">Vous etes sure de supprimer la présence de @Html.DisplayFor(model => model.Pratiquant.Nom) du @Html.DisplayFor(Model => Model.Jour)?</h3>


    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        @* <a asp-action="Index">Back to List</a> *@
    </form>
</div>
