@model Exo_MVC1.Models.Presence

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Presence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id_session" class="control-label"></label>
                <select asp-for="Id_session" class="form-control" asp-items="ViewBag.Id_session"></select>
                <span asp-validation-for="Id_session" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_activite" class="control-label"></label>
                <select asp-for="Id_activite" class="form-control" asp-items="ViewBag.Id_activite"></select>
                <span asp-validation-for="Id_activite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_categorie" class="control-label"></label>
                <select asp-for="Id_categorie" class="form-control" asp-items="ViewBag.Id_categorie"></select>
                <span asp-validation-for="Id_categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jour" class="control-label"></label>
                <input asp-for="Jour" class="form-control" />
                <span asp-validation-for="Jour" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Present" /> @Html.DisplayNameFor(model => model.Present)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Abscence" /> @Html.DisplayNameFor(model => model.Abscence)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Id_pratiquant" class="control-label"></label>
                <select asp-for="Id_pratiquant" class="form-control" asp-items="ViewBag.Id_pratiquant"></select>
                <span asp-validation-for="Id_pratiquant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
